
CustomerID: <input [(ngModel)] = "CustomerModel.CustomerID" type = text><br>
CustomerName: <input [(ngModel)] = "CustomerModel.CustomerName" type = text><br>
CustomerAmount: <input [(ngModel)] = "CustomerModel.CustomerAmount" type = text><br>
<input (click)= "Add()" type=button value="Add"/><br>
{{CustomerModel.CustomerID}}<br>
{{CustomerModel.CustomerName}}<br>
{{CustomerModel.CustomerAmount}}<br>

<table>
<tr>
    <td>CustomerID</td>
    <td>CustomerName</td>
    <td>CustomerAmount</td>
</tr>
<tr *ngFor = "let cust of CustomerModels" >
        <td>{{cust.CustomerID}}</td>
        <td>{{cust.CustomerName}}</td>
        <td>{{cust.CustomerAmount}}</td>
    </tr>
</table>

