<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>hi</h1>
    <h1 style="text-align: left">
        <span appChangetext> Welcome to {{ title | uppercase}}! </span>
    </h1>
    <!-- <router-outlet></router-outlet>-->
    <app-mera-component></app-mera-component>
</div>
<!-- <div>
    Monthssss:
    <select (change)="monthchamnge($event)">
            <option *ngFor="let i of months">
                {{i}}
            </option>
    </select>
</div>
<div>
    <span *ngIf="icecreamhai; else cond2"> sahi me hai icecream</span>
    <ng-template #cond2>nahi hai icecream</ng-template>
    <ng-template #cond1>sach me hai icecream</ng-template> 

</div>
<button (click)="myClickFunction($event)">mere ko dabao!!</button> -->