
.left-nav-login{
 width:250px;
 float:left;
 margin:0 auto;
 padding-top: 20px;
}
.login{
    list-style: none;
}
.left-nav-login li{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}
.button{
    border-radius: 5px;
    background-color: #483493;
    color: #FFF;
    border: none;
    text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 150px;
  margin: 5px;
}
.hm-pg-cntnt{
    text-align: right;
    padding-top: 20px;
}