<div  class="left-nav-login">
    <ul class="login">
        <li><button class="button" (click)= 'login()'>LOGIN</button></li> <br>
        <li><button class="button" (click)="registration()">REGISTER</button></li> <br>
        
     </ul>
</div>
<div class="hm-pg-cntnt">
    <img src="../../assets/img/home-pg-cntnt.JPG" alt="Welcome to Raheja QBE Home page content !!!">
    </div>