

.logo{
    height: 70px;
    width: 300px;
    margin-top:20px;
}
.main-nav{
    float:right;
    list-style: none;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px
}
.main-nav li a{
    color: #483493;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}