<nav>
      <div class="row">
      <a href= "http://localhost:4200/"><img src="../../assets/img/logo.JPG" alt="Logo" class="logo"></a>
        <ul class="main-nav">
          <li><a href="http://localhost:4200/">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
              <li><a href="#">SERVICE</a></li>
                <li><a href="#">CONTACT</a></li>
        </ul>
        <hr>
      </div>
</nav>
