<div> Employee
  <ui-switch color="#2879FF" (click)="login()" style="float:right; margin-right: 20px;"></ui-switch>
  <br>employeeer
  <h1>-Apply as Emoloyee-</h1>
  <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">

    <div class="container">
      <input type="text" class="formatInput" placeholder="First Name*" name="fname" required>
      <input type="email" class="formatInput" placeholder="Your Email*" name=" " required>
      <input type="text" class="formatInput" placeholder="Last Name*" name="lname" required>
      <input type="text" class="formatInput" placeholder="Your Phone*" name="phone" required>
      <input type="password" class="formatInput" placeholder="Password*" name="passwd" required>
      <input class="formatInput" type="password" placeholder="Confirm Password*" name="cpasswd" required>
      <select class="formatInput">
        <option>what is your mobile number</option>
        <option>what is your credit card number</option>
        <option>what is your aadhaar number</option>
        <option>what is your account number</option>
      </select>

      <input class="formatInput" type="text" placeholder="Enter Your Answer*" name=" " required>
      <div class="remember"><input type="radio" name="gender" value="male">Male
        <input type="radio" name="gender" value="female">Female
      </div>
      <!-- <mat-radio-group  >
      <mat-radio-button value="1">Male</mat-radio-button>
      <mat-radio-button value="2">Female</mat-radio-button>
    </mat-radio-group> -->
      <button type="submit">REGISTER</button>
    </div>

  </form>
</div>