<header>
  <app-nav-bar></app-nav-bar>
</header>

<div class="col-sm-6 offset-sm-3">
  <router-outlet></router-outlet>
</div>

<!-- <div>
<app-left-nav-login></app-left-nav-login>
<app-hm-pg-cntnt></app-hm-pg-cntnt>
</div> -->