
div{
    text-align: center;
}
form {
    border: 3px solid #f1f1f1;
    background-color: #FFF; 
    width:500px; height:200; 
    display: inline-block;
    
}
h2{ text-align: center;
    color:#FFF;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #347AB8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-bottom: 20px;

}
.remember{
    float:left;
    text-align: left;
}
