<div>
    <h2>-Please Login-</h2>
  <form #userlogin = "ngForm">
    <div class="imgcontainer">
    </div>
    <div class="container">
      <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="uname" required>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name=" " required>
          
      <button type="submit" (click)="login()">Login</button>
      <div class="remember">
        <input type="checkbox"  name="remember" style="text-align:left; padding-bottom: 20px;"> Remember me
      </div>
      <span class="psw"> <a href="#">Forgot Username/Password?</a></span>
    </div>
  </form>
  </div>
   <div >   <!-- <button type="submit" (click)="registration()" style="width:200px; height:30px;padding:5px;" >SIGN UP</button> -->
    <button type="submit" (click)="registration()" style="width:200px; height:30px;padding:5px;">SIGN UP</button>
  </div>
 