<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title |  uppercase }}
  </h1>

</div>
<router-outlet></router-outlet>
<app-new-comp></app-new-comp>
