<div> {{ newdate }} <br> Months :
  <select (change) = "changemonths($event)">
    <option *ngFor = "let i of months">{{i}}</option>
  </select>
</div>
<div> 
  <span  *ngIf="isabc; then condition1; else condition2">
  </span>
  <ng-template #condition1>hi som!! </ng-template>
    <ng-template #condition2> bye som!! </ng-template>
</div> 
<button (click)="myClickFunction($event)">
  Click Me
</button>

