logo <br>


<a [routerLink]="['Home']">Home</a><br>
<a [routerLink]="['Customer/Add']">Customer</a><br>
<a [routerLink]="['Supplier/Add']">Supplier</a><br>
<div>

    <router-outlet> </router-outlet>
</div>
footer<br>   